/* CSS variabler */
:root {
	--primary: #ddd;
	--dark: #0B3A40;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104,0.8);
}

* {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "roboto", sans-serif;
}

.grid-container {
	display: grid;
	grid-gap: 20px;
}

/* Header section */

header {
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 100%;
	height: 200px;
}

.logo img {
	height: 150px;
	width: auto;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.navbar a {
	padding: 10px 20px;
	margin-right: 10px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	position: relative;
	box-shadow: var(--shadow);
	color: var(--dark);
}

.navbar a:hover {
	color: white;
	background-color: var(--dark);
	box-shadow: var(--shadow)
}

.searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.searchbar input {
	display: flex;
	width: 100%;
	border: none;
	height: 25px;
	background-color: lightgrey;
	border-radius: 5px 5px 5px 5px;
	box-shadow: var(--shadow); 
}

.searchbar input:focus {
	border: 1px solid var(--dark);
}

.icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	color: var(--dark);
}


/* MAIN SECTION */

main {
	background-image: url("../media/minbakgrunn.jpeg");
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 700px;
	background-position: center center;
	background-size: cover;

}

.main-container {
	position: absolute;
	color: white;
	min-width: 25vw;
	max-width: 500px;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: row;
	text-align: center;
	box-sizing: border-box;
	background-color: white;
	box-shadow: var(--shadow);
	margin-left: 150px;
	margin-top: 50px;
	border: none;
	border-radius: 3px 3px 3px 3px;
	height: 200px;
}

.main-container h1  {
	color: var(--dark);
	padding: 20px;
}

.main-container h2  {
	color: var(--dark);
	padding-top: 5px;
}

.main-container div  {
	padding-top: 35px;
}

.main-container a  {
	color: var(--dark);
	box-shadow: var(--shadow);
	padding: 10px 20px;
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-container a:hover {
	background-color: var(--dark);
	color: white;
}


/* main slutter */

/* Footer starter */




.footer-container {
	box-sizing: border-box;
	padding: 50px 0px;
	text-align: left;
	display: flex;
	align-items: stretch;
	margin: 0 auto;
	width: 100%;
	max-width: 80rem;
	justify-content: space-between;
	flex-direction: row;
}

.footer-container h1 {
	color: var(--dark);
	margin-bottom: 20px;
	text-transform: uppercase;
}

.bedriftsinfo {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	text-align: left;
}

.bedriftsinfo a {
	text-decoration: none;
	color: black;
}

.bedriftsinfo ul li a {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	text-align: left;
}

.footer-menu {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	text-align: left;
}

.footer-menu a {
	text-decoration: none;
	color: black;
}

.footer-menu ul li a {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	text-align: left;
}

.kundeservice {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	text-align: left;
}

.kundeservice a {
	text-decoration: none;
	color: black;
}

.kundeservice ul li a {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
	text-align: left;
}

.nyhetsbrev {
	margin-bottom: 20px;
	text-align: center;
}

.nyhetsbrev h1 {
	margin-bottom: 20px;
	text-align: left;
}

.nyhetsbrev input {
	display: block;
	margin-top: 20px;
	width: 100%;
	border: none;
	height: 40px;
	background-color: lightgrey;
	border-radius: 5px 5px 5px 5px;
	box-shadow: var(--shadow);
}

.nyhetsbrev input:focus {
	border: 1px solid var(--dark);
}

input[type=text] {
	width: 100%;
	padding: 12px 12px;
	margin: 8px 0;
	box-sizing: border-box;
}

.nyhetsbrev a {
	display: flex;
	width: 100%;
	height: 40px;
	background-color: var(--dark);
	margin-top: 10px;
	text-align: center;
	align-items: center; 
	justify-content: center;
	text-decoration: none;
	color: white;
}


.nyhetsbrev h2 {
	color: grey;
}

.socials {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
}

.socials i {
	font-size: 36px;
	padding: 30px;
}

.facebook {
	color: #3b5998;
}

.instagram {
	color: #8a3ab9;
}

.snapchat {
	color: #FEFC00;
}

.youtube {
	color: #FF0000;
}

.linked-in {
	color: #0e76a8
}
/* MEDIA */

/* Desktop width 1024px */

/* tablet max width 768px */

/* phone max width 420px */

