/* CSS variabler */
:root {
	--primary: #ddd;
	--dark: #0B3A40;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104,0,8);
}

* {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
html {
	box-sizing: border-box;
	font-family: "roboto", sans-serif;
	color: var(--dark);
}

body {
	background-color: #ccc;
	line-height: 1.4;
	background-image: url(https://images.pexels.com/photos/1365425/pexels-photo-1365425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-size: cover;
	background-position: top;
	position: relative;
	background-repeat: no-repeat;
}

a {
	color: var(--dark);
	padding: 0.6rem 1.6rem;
	text-decoration: none;
	border: 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	word-spacing: 3px;
	font-weight: 400;
}

a:hover {
	border-bottom: 2px solid #A69438;
	color: #A69438;
}

img {
	max-width: 100%;
}

.grid-container {
	display: grid;
	grid-gap: 15px;
}


/* Header section */

header {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style-type: none;
	grid-template-columns: 300px 900px 1fr 1fr;
	max height: 200px;
	background-color: var(--light);
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar li a {
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: var(--shadow);
}

.searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchbar i {
	margin-right: 10px;
	font-size: 20px;
}

.handlevogn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
}

.logo img {
	height: 150px;
	width: auto; 
	padding: 20px;
}

.searchbar input {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	border-radius: 5px;
	height: 20px;
	width: 100%;
	padding: 2px 23px 2px 30px;
	background-color: #f5f5f5;
}

.searchbar input:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #0B3A40;
	border-radius: 5px;
	height: 20px;
	width: 100%;
	padding: 2px 23px 2px 30px;
	background-color: #f5f5f5;
}



/* MAIN */

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
	ackground-image: url(https://images.pexels.com/photos/2773548/pexels-photo-2773548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	ackground-position: center center;
	height: 250px;
	width: 40%;
	background-color: white;
	margin-left: 30px;
	margin-top: 30px;
}

main .litttext {
	display: flex;
	justify-content: center;
	align-items: center;
}

main .cta-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}





/* MEDIA */

/* Desktop width 1024px */

/* tablet max width 768px */

/* phone max width 420px */

